# Model Building using Pandas

## importing libs

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## setting flags

In [ ]:
pd.options.display.max_columns=500
pd.options.display.max_rows=200
# to set dataframes to show more cols & rows

## setting path

In [ ]:
# from google.colab import files
# uploaded = files.upload()

# import os
# os.chdir('content/drive/MyDrive/PG-DBDA C-DAC Mumbai KH/Final Project/US accident/Datasets')
# os.getcwd()
# Transformations_output.csv

import os
os.chdir(r'E:\Datasets\US Accidents (2016 - 2023)')
os.getcwd()

'E:\\Datasets\\US Accidents (2016 - 2023)'

## importing dataset

In [ ]:
df_mod = pd.read_csv('Transformations_output.csv')

In [ ]:
# df_mod['Weather_Condition'].nunique()

12

In [ ]:
df_mod.shape

(3414595, 34)

In [ ]:
df_mod.head()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),City,Zipcode,Timezone,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Junction,No_Exit,Railway,Station,Stop,Sunrise_Sunset,Year,MonthC,Month,Day,WeekdayC,Weekday,Hour,Time Duration (min)
0,3,40.108910,-83.092860,40.112060,-83.031870,3.230,Dublin,43017,US/Eastern,42.1,36.1,58.0,29.76,SW,10.4,0.00,Light Rain,False,False,False,False,False,False,False,False,Night,2016,Feb,2,8,Mon,1,0,360.0
1,3,39.172393,-84.492792,39.170476,-84.501798,0.500,Cincinnati,45217,US/Eastern,37.0,29.8,93.0,29.69,WSW,10.4,0.01,Light Rain,False,False,False,False,False,False,False,False,Day,2016,Feb,2,8,Mon,1,7,360.0
2,2,39.192880,-84.477230,39.196150,-84.473350,0.307,Cincinnati,45216,US/Eastern,33.8,29.6,100.0,29.66,NNW,4.6,0.03,Light Snow,False,False,False,False,False,False,False,False,Day,2016,Feb,2,8,Mon,1,15,360.0
3,2,41.473900,-81.704233,41.473880,-81.705590,0.070,Cleveland,44113,US/Eastern,33.1,24.4,96.0,29.59,West,11.5,0.00,Light Snow,False,False,False,False,False,False,False,False,Day,2016,Feb,2,8,Mon,1,17,360.0
4,2,39.582242,-83.677814,39.603013,-83.637319,2.590,Jamestown,45335,US/Eastern,33.8,28.6,93.0,29.64,West,5.8,0.01,Light Snow,False,False,False,False,False,False,False,False,Day,2016,Feb,2,8,Mon,1,17,360.0

In [ ]:
df_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3414595 entries, 0 to 3414594
Data columns (total 34 columns):
 #   Column               Dtype
---  ------               -----
 0   Severity             int64
 1   Start_Lat            float64
 2   Start_Lng            float64
 3   End_Lat              float64
 4   End_Lng              float64
 5   Distance(mi)         float64
 6   City                 object
 7   Zipcode              int64
 8   Timezone             object
 9   Temperature(F)       float64
 10  Wind_Chill(F)        float64
 11  Humidity(%)          float64
 12  Pressure(in)         float64
 13  Wind_Direction       object
 14  Wind_Speed(mph)      float64
 15  Precipitation(in)    float64
 16  Weather_Condition    object
 17  Amenity              bool
 18  Bump                 bool
 19  Crossing             bool
 20  Junction             bool
 21  No_Exit              bool
 22  Railway              bool
 23  Station              bool
 24  Stop                 bool
 25  Sunrise_Sunset       object
 26  Year                 int64
 27  MonthC               object
 28  Month                int64
 29  Day                  int64
 30  WeekdayC             object
 31  Weekday              int64
 32  Hour                 int64
 33  Time Duration (min)  float64
dtypes: bool(8), float64(12), int64(7), object(7)
memory usage: 703.4+ MB

## Column Operations

### Analysis of Categorical columns

#### Number of unique values for each column

In [ ]:
df_mod[['WeekdayC', 'MonthC', 'City', 'Timezone', 'Wind_Direction', 'Weather_Condition', 'Sunrise_Sunset']].nunique().sort_values()

Sunrise_Sunset           2
Timezone                 4
WeekdayC                 7
MonthC                  12
Weather_Condition       12
Wind_Direction          23
City                 10251
dtype: int64

#### Note for Categorical columns
- ```WeekdayC``` can be removed as there is another column ```Weekday``` that represents same information, but in numeric format
- ```MonthC``` can be removed as there is another column ```Month``` that represents same information, but in numeric format
- ```Wind_Direction``` can be removed as it can be represented by other weather related columns in the dataset

In [ ]:
similar_data_cols = ['WeekdayC', 'MonthC', 'Wind_Direction']

#### dropping unwantwed columns

In [ ]:
df_mod.drop(similar_data_cols, axis=1, inplace=True)

### Encoding categorical value columns to numerical values

#### identifying columns with categorical values

In [ ]:
# categorical col titles
str_cols = []
for i in df_mod.columns:
    if df_mod[i].dtypes == 'object' :
        str_cols.append(i)
str_cols

['City', 'Timezone', 'Weather_Condition', 'Sunrise_Sunset']

#### creating ndarray of categorical columns to use as input to encoder

In [ ]:
# converting categorical columns into ndarray
enc_input = df_mod[['City', 'Timezone', 'Weather_Condition', 'Sunrise_Sunset']].values
enc_input

array([['Dublin', 'US/Eastern', 'Light Rain', 'Night'],
       ['Cincinnati', 'US/Eastern', 'Light Rain', 'Day'],
       ['Cincinnati', 'US/Eastern', 'Light Snow', 'Day'],
       ...,
       ['Orange', 'US/Pacific', 'Partly Cloudy', 'Day'],
       ['Culver City', 'US/Pacific', 'Fair', 'Day'],
       ['Highland', 'US/Pacific', 'Fair', 'Day']], dtype=object)

In [ ]:
# Weather_Condition_categories = df_mod['Weather_Condition'].unique()
# sorted(list(Weather_Condition_categories))

['Cloudy',
 'Fair',
 'Fair / Windy',
 'Fog',
 'Haze',
 'Heavy Rain',
 'Light Rain',
 'Light Snow',
 'Mostly Cloudy',
 'Partly Cloudy',
 'Rain',
 'Thunder in the Vicinity']

#### using LabelEncoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
lc = LabelEncoder()

#### Label Encoding 5 columns with categorical values

In [ ]:
labeled_col_City = lc.fit_transform(enc_input[ : , 0])
labeled_col_Timezone = lc.fit_transform(enc_input[ : , 1])
labeled_col_Weather_Condition = lc.fit_transform(enc_input[ : , 2])
labeled_col_Sunrise_Sunset = lc.fit_transform(enc_input[ : , 3])

#### Replacing categorical values with Label Encoded values in data set

In [ ]:
df_mod['City'] = pd.Series(labeled_col_City)
df_mod['Timezone'] = pd.Series(labeled_col_Timezone)
df_mod['Weather_Condition'] = pd.Series(labeled_col_Weather_Condition)
df_mod['Sunrise_Sunset'] = pd.Series(labeled_col_Sunrise_Sunset)

In [ ]:
df_mod.head()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),City,Zipcode,Timezone,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Junction,No_Exit,Railway,Station,Stop,Sunrise_Sunset,Year,Month,Day,Weekday,Hour,Time Duration (min)
0,3,40.108910,-83.092860,40.112060,-83.031870,3.230,2451,43017,1,42.1,36.1,58.0,29.76,10.4,0.00,6,False,False,False,False,False,False,False,False,1,2016,2,8,1,0,360.0
1,3,39.172393,-84.492792,39.170476,-84.501798,0.500,1657,45217,1,37.0,29.8,93.0,29.69,10.4,0.01,6,False,False,False,False,False,False,False,False,0,2016,2,8,1,7,360.0
2,2,39.192880,-84.477230,39.196150,-84.473350,0.307,1657,45216,1,33.8,29.6,100.0,29.66,4.6,0.03,7,False,False,False,False,False,False,False,False,0,2016,2,8,1,15,360.0
3,2,41.473900,-81.704233,41.473880,-81.705590,0.070,1732,44113,1,33.1,24.4,96.0,29.59,11.5,0.00,7,False,False,False,False,False,False,False,False,0,2016,2,8,1,17,360.0
4,2,39.582242,-83.677814,39.603013,-83.637319,2.590,4413,45335,1,33.8,28.6,93.0,29.64,5.8,0.01,7,False,False,False,False,False,False,False,False,0,2016,2,8,1,17,360.0

In [ ]:
# sorted(df_mod['Weather_Condition'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
df_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3414595 entries, 0 to 3414594
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   Severity             int64
 1   Start_Lat            float64
 2   Start_Lng            float64
 3   End_Lat              float64
 4   End_Lng              float64
 5   Distance(mi)         float64
 6   City                 int32
 7   Zipcode              int64
 8   Timezone             int32
 9   Temperature(F)       float64
 10  Wind_Chill(F)        float64
 11  Humidity(%)          float64
 12  Pressure(in)         float64
 13  Wind_Speed(mph)      float64
 14  Precipitation(in)    float64
 15  Weather_Condition    int32
 16  Amenity              bool
 17  Bump                 bool
 18  Crossing             bool
 19  Junction             bool
 20  No_Exit              bool
 21  Railway              bool
 22  Station              bool
 23  Stop                 bool
 24  Sunrise_Sunset       int32
 25  Year                 int64
 26  Month                int64
 27  Day                  int64
 28  Weekday              int64
 29  Hour                 int64
 30  Time Duration (min)  float64
dtypes: bool(8), float64(12), int32(4), int64(7)
memory usage: 573.1 MB

In [ ]:
df_mod.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),City,Zipcode,Timezone,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,Year,Month,Day,Weekday,Hour,Time Duration (min)
count,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06,3.414595e+06
mean,2.073957e+00,3.606361e+01,-9.537304e+01,3.606380e+01,-9.537271e+01,8.291040e-01,5.178821e+03,5.541283e+04,1.494390e+00,6.144015e+01,6.024397e+01,6.324460e+01,2.936660e+01,7.154872e+00,4.078451e-03,3.117601e+00,3.526207e-01,2.021214e+03,6.746069e+00,1.580337e+01,3.138422e+00,1.285166e+01,7.804095e+02
std,3.816288e-01,5.315566e+00,1.807716e+01,5.315740e+00,1.807685e+01,1.750341e+00,2.836225e+03,3.130264e+04,1.091020e+00,1.910535e+01,2.115653e+01,2.287674e+01,1.120635e+00,5.169845e+00,3.486053e-02,3.407398e+00,4.777860e-01,1.040725e+00,3.789734e+00,8.660392e+00,1.868596e+00,5.784718e+00,1.840911e+04
min,1.000000e+00,2.456603e+01,-1.245481e+02,2.456601e+01,-1.245457e+02,0.000000e+00,0.000000e+00,1.001000e+03,0.000000e+00,-4.500000e+01,-6.300000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.016000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00
25%,2.000000e+00,3.317705e+01,-1.176453e+02,3.317650e+01,-1.176435e+02,6.600000e-02,2.826000e+03,2.920900e+04,1.000000e+00,4.900000e+01,4.800000e+01,4.700000e+01,2.920000e+01,3.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,2.021000e+03,3.000000e+00,8.000000e+00,2.000000e+00,8.000000e+00,7.500000e+01
50%,2.000000e+00,3.589800e+01,-8.749843e+01,3.589863e+01,-8.749620e+01,2.590000e-01,5.451000e+03,4.850700e+04,1.000000e+00,6.300000e+01,6.300000e+01,6.500000e+01,2.973000e+01,7.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,2.021000e+03,7.000000e+00,1.600000e+01,3.000000e+00,1.400000e+01,9.940000e+01
75%,2.000000e+00,4.007191e+01,-8.021342e+01,4.007205e+01,-8.021121e+01,9.110000e-01,7.544000e+03,9.130200e+04,3.000000e+00,7.600000e+01,7.600000e+01,8.200000e+01,2.997000e+01,1.000000e+01,0.000000e+00,7.000000e+00,1.000000e+00,2.022000e+03,1.000000e+01,2.300000e+01,5.000000e+00,1.700000e+01,1.421670e+02
max,4.000000e+00,4.900058e+01,-6.748413e+01,4.907500e+01,-6.748413e+01,1.551860e+02,1.025000e+04,9.940100e+04,3.000000e+00,1.960000e+02,1.960000e+02,1.000000e+02,5.863000e+01,9.840000e+02,2.400000e+01,1.100000e+01,1.000000e+00,2.023000e+03,1.200000e+01,3.100000e+01,6.000000e+00,2.300000e+01,1.579259e+06

### Correlation to reduce data set

In [ ]:
Severity_corr = pd.DataFrame(df_mod.corr()['Severity'])
Severity_corr.drop('Severity', inplace=True)

In [ ]:
# Severity_corr.shape

(30, 1)

In [ ]:
Severity_corr.abs().sort_values(by='Severity', ascending=False)

                     Severity
Year                 0.115294
End_Lng              0.082843
Start_Lng            0.082842
Start_Lat            0.079051
End_Lat              0.079051
Zipcode              0.076305
Timezone             0.074721
Pressure(in)         0.047817
Wind_Chill(F)        0.033775
Humidity(%)          0.032725
Temperature(F)       0.032601
Crossing             0.030181
Junction             0.028060
City                 0.023984
Distance(mi)         0.020586
Station              0.017503
Sunrise_Sunset       0.017297
Month                0.014281
Time Duration (min)  0.011400
Weekday              0.008072
Hour                 0.007617
Weather_Condition    0.004724
Amenity              0.004356
Precipitation(in)    0.003593
Bump                 0.003068
No_Exit              0.002916
Day                  0.002093
Stop                 0.001744
Wind_Speed(mph)      0.000807
Railway              0.000025

#### Dropping unwanted columns based on correlation with Target Variable 'Severity'

In [ ]:
location_cols_to_drop = ['End_Lng', 'End_Lat', 'Timezone', 'Junction', 'City', 'Distance(mi)', 'Station', 'Amenity', 'Bump', 'No_Exit', 'Stop', 'Railway']
weather_cols_to_drop = ['Pressure(in)', 'Wind_Chill(F)', 'Sunrise_Sunset', 'Precipitation(in)', 'Wind_Speed(mph)']
time_cols_to_drop = ['Year', 'Time Duration (min)', 'Day']

In [ ]:
df_mod.drop(location_cols_to_drop, axis=1, inplace=True)

In [ ]:
df_mod.drop(weather_cols_to_drop, axis=1, inplace=True)

In [ ]:
df_mod.drop(time_cols_to_drop, axis=1, inplace=True)

In [ ]:
df_mod.columns

Index(['Severity', 'Start_Lat', 'Start_Lng', 'Zipcode', 'Temperature(F)',
       'Humidity(%)', 'Weather_Condition', 'Crossing', 'Month', 'Weekday',
       'Hour'],
      dtype='object')

In [ ]:
df_mod.shape

(3414595, 11)

In [ ]:
df_mod.head()

,Severity,Start_Lat,Start_Lng,Zipcode,Temperature(F),Humidity(%),Weather_Condition,Crossing,Month,Weekday,Hour
0,3,40.108910,-83.092860,43017,42.1,58.0,6,False,2,1,0
1,3,39.172393,-84.492792,45217,37.0,93.0,6,False,2,1,7
2,2,39.192880,-84.477230,45216,33.8,100.0,7,False,2,1,15
3,2,41.473900,-81.704233,44113,33.1,96.0,7,False,2,1,17
4,2,39.582242,-83.677814,45335,33.8,93.0,7,False,2,1,17

In [ ]:
# plt.figure(figsize=(10, 10))
# sns.heatmap(df_mod.corr(), annot=True)

### Modifying Column names & their order

#### Updating Column Names

In [ ]:
df_mod.columns = ['Severity', 'Latitude', 'Longitude', 'Zipcode', 'Temperature',
       'Humidity', 'Weather_condition', 'Crossings', 'Month', 'Weekday',
       'Hour']

In [ ]:
df_mod.head()

,Severity,Latitude,Longitude,Zipcode,Temperature,Humidity,Weather_condition,Crossings,Month,Weekday,Hour
0,3,40.108910,-83.092860,43017,42.1,58.0,6,False,2,1,0
1,3,39.172393,-84.492792,45217,37.0,93.0,6,False,2,1,7
2,2,39.192880,-84.477230,45216,33.8,100.0,7,False,2,1,15
3,2,41.473900,-81.704233,44113,33.1,96.0,7,False,2,1,17
4,2,39.582242,-83.677814,45335,33.8,93.0,7,False,2,1,17

In [ ]:
df_mod.shape

(3414595, 11)

#### Updating Order of columns

In [ ]:
df_mod = df_mod[['Zipcode', 'Temperature', 'Weekday', 'Month', 'Hour', 'Latitude', 'Longitude', 'Humidity', 'Crossings', 'Weather_condition', 'Severity']]

In [ ]:
df_mod.head()

,Zipcode,Temperature,Weekday,Month,Hour,Latitude,Longitude,Humidity,Crossings,Weather_condition,Severity
0,43017,42.1,1,2,0,40.108910,-83.092860,58.0,False,6,3
1,45217,37.0,1,2,7,39.172393,-84.492792,93.0,False,6,3
2,45216,33.8,1,2,15,39.192880,-84.477230,100.0,False,7,2
3,44113,33.1,1,2,17,41.473900,-81.704233,96.0,False,7,2
4,45335,33.8,1,2,17,39.582242,-83.677814,93.0,False,7,2

In [ ]:
df_mod.shape

(3414595, 11)

## exporting CSV

In [ ]:
df_mod.to_csv('Presentation_output.csv', index=False)

In [ ]:
# del df_mod